<div class="section">
    <div class="details-section shadow">
        <div class="grid-wrapper">
            <div class="left-div">
                <h2>Bulbasaur</h2>
                <div class="type-info">
                    <p>Grass</p>
                    <p>Poison</p>
                </div>
                <img src="../../../assets/dummy.jpeg" alt="balbasaur">
            </div>
            
            <div class="right-div">
                <h2>Pokemon Details</h2>
                <p><strong>Experience</strong> 64</p>
                <p><strong>Height</strong> 6 decimeter</p>
                <p><strong>Weight</strong> 69 hectogram</p>
            </div>
        </div>
    </div>

    <div class="gallery-section">
        <h2>Photo Gallery</h2>

        <div class="grid-wrapper">
             <div class="card shadow">
                <img src="../../../assets/dummy.jpeg" alt="Image">
             </div>
             <div class="card shadow">
                <img src="../../../assets/dummy.jpeg" alt="Image">
             </div>
             <div class="card shadow">
                <img src="../../../assets/dummy.jpeg" alt="Image">
             </div>
             <div class="card shadow">
                <img src="../../../assets/dummy.jpeg" alt="Image">
             </div>
             <div class="card shadow">
                <img src="../../../assets/dummy.jpeg" alt="Image">
             </div>
             <div class="card shadow">
                <img src="../../../assets/dummy.jpeg" alt="Image">
             </div>
             <div class="card shadow">
                <img src="../../../assets/dummy.jpeg" alt="Image">
             </div>
             <div class="card shadow">
                <img src="../../../assets/dummy.jpeg" alt="Image">
             </div> 
        </div>
    </div>
</div>